body {
  background-color: #EEE;
  margin: 0;
}
.contractbox {
  width: 80%;
  margin: 20px auto;
  .contract {
    max-height: 80vh;
    overflow: scroll;
    padding: 20px;
    width: 100%;
    border: 2px solid black;
    margin: 20px auto;
  }
  form {
    float: right;
    margin: 0;
  }
}
.confirmation {
  position: absolute;
  background-color: #EEE;
  width: 60vw;
  height: 60vh;
  top: 20vh;
  left: 20vw;
}
#overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
}
